body {
    font-size: 30px;
    font-family: consolas;
}

.game-area {
    position: relative;
    /* background: rgb(79, 92, 104); */
    width: 100%;
    height: 88vh;
    margin: 0;
    overflow: hidden;

}

.game-area::before{
        content: '';
        background-image: url(imgs/revolution.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; 
        filter: brightness(0.7);
    
}

.game-section{
    text-align: center;
    background-color: black;
    color: blueviolet;
}

.game-start {
    position: absolute;
    width: 30%;
    background-color: aliceblue;
    border-radius: 30px;
    top: 150px;
    left: 35%;
    z-index: 1;
    text-align: center;
    padding: 30px;

}

.game-score{
    background-color: rgb(41, 42, 53);
    color:rgb(233, 94, 117);
    text-align: center;
}

.hide {
    display: none;
}

.heroine{
    z-index: 100;
    position: absolute;
    width: 50px;
    height: 80px;
    background-image: url(./imgs/littleMyNormal.png);
    background-size: cover;

}

.heroine-fire{
    background-image: url(./imgs/littleMyFire.png);
    background-size: cover;

}

.fire-ball{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(./imgs/fire-ball.png);
    background-size: cover;
}

.bug {
    position: absolute;
    width: 48px;
    height: 62px;
}

.game-over {
    position: absolute;
    width: 50%;
    background-color: crimson;
    border-radius: 30px;
    top: 100px;
    left: 25%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}

.restart-btn {
    position:absolute;
    width: 300px;
    height: 150px;
    top: 50vh;
    left: 50vw;
    background-color: rgb(44, 168, 87);
    font-family: consolas;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    border: 0;
}


